body{
    font-family: sans-serif;
}
.top-navbar{
    background: #797979ad;
    margin: 20px 60px;
    border-radius: 5px;
}
.top-navbar img{
    width: 110px;
    margin: 8px 0px 0px 8px;
}
.top-navbar-right {
    font-size: 20px;
    float: right;
    margin: 13px 0px;
}
.top-navbar-right a {
    text-align: center;
    margin: auto;
    padding: 15px;
    text-decoration: none;
    color: white;
    background: #f99f1c;
    border-radius: 5px;
}
.container{
    margin: 20px 60px;
}
.container input{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 390px;
    height: 40px;
    cursor: pointer;
}
.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.search-button {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #f99f1c;
    color: white;
    font-size: 20px;
    height: 46px;
    width: 100px;
    cursor: pointer;
}

.header-content {
    border: 2px solid black;
    border-radius: 5px;
}
.search-input:focus, .search-button:focus{
    outline: none;
}
.single-food-items {
    background: #f99f1c;
    /* height: 100%; */
    /* width: 100%; */
    color: white;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px -1px 6px black;
}

.food-items-wrappper {
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows: repeat(2,250px);
    grid-gap: 25px;
    justify-content: center;
}

.food-image {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.food-image img {
    width: 100%;
    height: 100%;
}

.food-name {
    text-align: center;
    height: 20%;
}

.food-name p {
    width: 234px;
    font-weight: 600;
    font-size: 18px;
    margin: auto;
    padding: 13px;
    line-height: 30px;
}

#ingredientCart {
    width: 445px;
    height: 570px;
    margin: auto;
    background: #ffffff;
    display: none;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    overflow: hidden;
    margin-top: -100px;
}

.ingredient-image-div {
    width: 100%;
    height: 300px;
}

#ingredientImage {
    width: 100%;
    height: 100%;
}
#foodIngredientTitle {
    font-size: 22px;
    margin-left: 15px;
}
.ingredient-highlight-text{
    font-size: 17px;
    margin-left: 15px;
}
#ingredientList {
    list-style: none;
    margin-left: -25px;
}
.food-icon{
    color: #f99f1c;
}
#ingredientList li {
    color: #000;
}

.ingredient-list-div {
    border-top: 3px solid orange;
}